<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <mat-card>
                    <mat-card-title>
                        <mat-card-header>
                            <h2>This app is made by Soumik Roy.</h2>
                        </mat-card-header>
                    </mat-card-title>

                    <mat-card-content>
                        <h3><b>Mail Id:</b> soumikroy.job@gmail.com</h3>
                        <h3><b>Linked In:</b> Soumik Roy<a href="https://www.linkedin.com/in/soumik-roy-2a4b561b0/"> (Click here)</a></h3>
                        <h3><b>Mobile Number:</b> +91-7980673313</h3>
                        <h3><b>My Info:</b>
                            <p>I am working as full-stack developer at Tata Consultancy Service with 1+ YOE, Having
                                knowledge on Angular, Springboot, Core Java, Advance Java, Data Structures, Algorithms,
                                Low Level Design</p>
                        </h3>

                        <h3><b>Application Info:</b>
                            <p>This application is build by using Angular, Springboot and MySql database. This
                                application has 2 separate user side one for admin and another for users(examinee).
                                <br>
                                <b>Features:</b>
                                <br>
                                I) This application has 2 separated User module 1)admin user 2)examinee.
                                <br>
                                II) Admin can set categories of quizzes in deferent module and pushlish when he/she
                                wants.
                                <br>
                                III) after completion of the quiz user can download the refort-card as .pdf format where he can see the given ans he provided for the perticular question.
                            </p>
                        </h3>

                        <h3><b>Tech Stack:</b> <b> Anguar, Spring Boot, MySql, Core Java, Advance Java</b></h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>