<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt10">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo1.png">
                </div>
                <h2 class="text-center"> Login Here </h2>
                <form (ngSubmit)="formSubmit()">
                    <!-- Username field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input
                        [(ngModel)]="loginData.username"
                        name="username"
                        required matInput placeholder="Enter Here">
                        <mat-hint>Username should be valid</mat-hint>
                    </mat-form-field>

                    <!-- password field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Password</mat-label>
                        <input
                        [(ngModel)]="loginData.password"
                        name="password"
                        type="password" required matInput placeholder="Enter Here">
                    </mat-form-field>

                    <div class="container text-center mb20">
                        <button mat-raised-button color="primary" type="submit"> Login </button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>